
//http://www.smashingmagazine.com/2013/03/08/tips-and-tricks-for-print-style-sheets/
//http://www.smashingmagazine.com/2011/11/24/how-to-set-up-a-print-style-sheet/


//@page


@media print {

  .module {
  	display: block;
  	///http://stackoverflow.com/questions/1630819/google-chrome-printing-page-breaks
  	page-break-before: always;
  	page-break-after: always;
  	page-break-inside: avoid;
  	-webkit-region-break-inside: avoid;

    &.compare {
      margin-top: 5cm;
    }
  }


  .no-print		{ display:none; }

  //http://stackoverflow.com/questions/11289166/chrome-on-android-resizes-font
	html * {max-height: 999999px;
	//max-width:999999px;
	///text-height: font-size; // not supported in any browser…
	}

}

@page {
	 // size:297mm 210mm;
	size:landscape;
	//http://www.tutorialspoint.com/css/css_paged_media.htm
	widows: 3;
    orphans: 3;
    //widows = minimum number of lines in a paragraph split on the new page.
	//orphans = minimum number of lines in a paragraph split on the old page.

}





@media print and (color) {
   * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   }
}









//Size Hack for Chrome
//http://stackoverflow.com/questions/14511542/div-element-size-changes-when-printing-in-chrome?rq=1
//http://stackoverflow.com/questions/10902686/html-print-with-absolute-postitions
//Chrome Size Issue http://stackoverflow.com/questions/12039470/google-chrome-printing-issues?rq=1
// Chrome Hack http://stackoverflow.com/questions/10812093/is-there-a-google-chrome-only-css-hack
@media (-webkit-min-device-pixel-ratio:0) {
/* Safari and Chrome */

body {
	//.93692 //.937 slightly too small
	//-> (supposed to be 200mm exactly)
//.094 -> sligthly too big ->200,76 //
//0.939 -> 200,478
//0.938 -> 200,196
//0.9374 -> 200,196
//0.9373 -> 200,196
//0.9372 -> 199,913
//0.9371 -> 199,913
zoom: 0.9372; -moz-transform: scale(0.9372); -moz-transform-origin: 0 0;
}


/* Safari only override */
::i-block-chrome,body {
 	zoom: 1; -moz-transform: scale(1); -moz-transform-origin: 0 0
}
}




